*
{
    margin: 0;
    padding: 0;
}
@font-face
{
    font-family: myFirstFont;
    src:url(../font/Montserrat-Medium.ttf);
}

:root
{
    --main-color: #bb542b;
}

html 
{
    scroll-behavior: smooth;
}
body
{
    font-family: myFirstFont;
}
li
{
    list-style-type: none;
}
a:hover
{
    text-decoration: none;
}
nav
{
    height: 100px;
}
nav ul a
{
    color: var(--main-color);
    text-transform: uppercase;
}
.mt-07
{
    margin-top: 0.7%;
}
.mt-11
{
    margin-top: 1.1%;
}
.btn
{
    background-color: var(--main-color);
    border-radius: 5px;
}
.btn:hover, .btn:focus, a.btn:hover
{
    background-color: #e7612c !important;
}
.dropdown-content li > a
{
    color: var(--main-color);
    line-height: normal;
    font-size: 14px;
}
.test
{
    margin-right: 3px;
}
.slider
{
    width: 100%;
    height: 500px;
    background-image: url(../img/cleaning.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.block
{
    margin-top: 40px;
    border-radius: 10px;
    padding: 20px !important;
}
.block h1
{
    font-size: 2.5rem;
}
.block h2
{
    font-size: 3rem;
}
.mt
{
    margin-top: 10px;
}
.orange
{
    background-color: var(--main-color) !important;
}
.orange-text
{
    color: var(--main-color) !important;
}
i
{
    font-size: 125px !important;
}
nav a .sidenav-trigger
{
    line-height: normal !important;
}
.font-size
{
    font-size: 18px !important;
}
nav .font-size
{
    font-size: 3rem !important;
}
.padding
{
    padding: 50px;
}
.row
{
    margin-bottom: 0px;
}
.carousel .carousel-item
{
    width: 340px;
    height: 340px !important;
    margin: 50px 0;
}

h5
{
    font-size: 27px;
}
h6
{
    font-size: 35px;
}
.page-footer
{
    background-color: var(--main-color);
}
footer .row
{
    margin-bottom: 40px !important;
}
footer .footer-copyright .row
{
    margin-bottom: 0 !important;
}
footer ul
{
    font-size: 17px;
}
footer i
{
    font-size: 40px !important
}
.hoverable
{
    transition: 0.3s;
}
.hoverable:hover
{
    box-shadow: none;
    color: #2196F3 !important;
}
.title
{
    font-size: 25px;
    font-weight: bold;
}
.centriraj
{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:610px)
{
    .block
    {
        margin-top: 20px;
    }
}
@media screen and (max-width: 595px)
{
    .block
    {
        border-radius: 0;
    }
    .block h1
    {
        font-size: 1.5rem;
    }
    .block h2
    {
        font-size: 2rem;
    }
}
@media screen and (max-width: 316px)
{
    h3
    {
        font-size: 2.1rem;
    }
}